body {background: #f9fee8;margin: 0; padding: 1em; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:0.875em; color:#666666;}
		 {width: 600px; padding: 50px; margin: auto;}
		 h1 {margin: 1em 0 0; color: #EC5800;}
		 p {margin: 0.75em 0; padding: 0;}		
		a {color: #9caa6d; text-decoration:none;}
		a:hover {color: #9caa6d; text-decoration:underline;}
  div.transbox
  {
  width: 100%;
  margin-right:0px;
  margin-left:0px;
  margin-top:0px;
  background-color:#ffffff;
  border:1px solid black;
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;
		}
	div.transbox p
  {
  color:#000000;
  }
  hr
  {
  height: 1px -solid;
  color: #666666;
  }


ul {list-style-type: square; list-style: square;}
li.list{list-style: square;}

input
{
color: green;
background: white;
border: 1px solid #000000
}