<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sborpoandsolegr7</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>db-server</param-name>
    <param-value>jdbc:mysql://localhost</param-value>
  </context-param>
  <context-param>
    <param-name>db-user</param-name>
    <param-value>sborpo</param-value>
  </context-param>
  <context-param>
    <param-name>db-password</param-name>
    <param-value>sborpo</param-value>
  </context-param>
  <context-param>
    <param-name>db-dbname</param-name>
    <param-value>sborpoDB</param-value>
  </context-param>
  <context-param>
    <param-name>labSupportMail</param-name>
    <param-value>lab.supp@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>successRedirectDelay</param-name>
    <param-value>5</param-value>
  </context-param>
  <context-param>
    <param-name>authKey</param-name>
    <param-value>111</param-value>
  </context-param>
  <listener>
    <listener-class>cs236369.hw5.ApplicationStarts</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>cs236369.hw5.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPages/notFound.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPages/internalError.html</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/errorPages/unauthorized.html</location>
  </error-page>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>viewReservations.jsp</web-resource-name>
      <url-pattern>/viewReservations.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>researcher</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>searchInLabs.jsp</web-resource-name>
      <url-pattern>/searchInLabs.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>researcher</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>updateUser.jsp</web-resource-name>
      <url-pattern>/updateUser.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>researcher</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>addInstrument.jsp</web-resource-name>
      <url-pattern>/addInstrument.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>viewInstrument.jsp</web-resource-name>
      <url-pattern>/viewInstrument.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>viewInstruments.jsp</web-resource-name>
      <url-pattern>/viewInstruments.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>updateInstrument.jsp</web-resource-name>
      <url-pattern>/updateInstrument.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>instrumentInputForms.jsp</web-resource-name>
      <url-pattern>/instrumentInputForms.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>optionsPage.jsp</web-resource-name>
      <url-pattern>/optionsPage.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>viewUser.jsp</web-resource-name>
      <url-pattern>/viewUser.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>researcher</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>viewUsers.jsp</web-resource-name>
      <url-pattern>/viewUsers.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>researcher</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>passReseter.jsp</web-resource-name>
      <url-pattern>/passReseter.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>researcher</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>displayResvTimeline.jsp</web-resource-name>
      <url-pattern>/displayResvTimeline.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>researcher</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>indexLoged.jsp</web-resource-name>
      <url-pattern>/indexLoged.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>researcher</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>AdminUpdateUser</web-resource-name>
      <url-pattern>/AdminUpdateUser</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Logout</web-resource-name>
      <url-pattern>/Logout</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>researcher</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>UpdateUser</web-resource-name>
      <url-pattern>/UpdateUser</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>researcher</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DeleteReservedTimeSlot</web-resource-name>
      <url-pattern>/DeleteReservedTimeSlot</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>researcher</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>viewUsersReservations.jsp</web-resource-name>
      <url-pattern>/viewUsersReservations.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>researcher</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DeleteUser</web-resource-name>
      <url-pattern>/DeleteUser</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.html</form-login-page>
      <form-error-page>/authenticationError.html</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <security-role>
    <role-name>researcher</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>cs236369.hw5.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewUser</display-name>
    <servlet-name>AddNewUser</servlet-name>
    <servlet-class>cs236369.hw5.users.AddNewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewUser</servlet-name>
    <url-pattern>/AddNewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jcaptcha</servlet-name>
    <servlet-class>com.octo.captcha.module.servlet.image.SimpleImageCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jcaptcha</servlet-name>
    <url-pattern>/jcaptcha.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageGetter</display-name>
    <servlet-name>ImageGetter</servlet-name>
    <servlet-class>cs236369.hw5.ImageGetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageGetter</servlet-name>
    <url-pattern>/ImageGetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>cs236369.hw5.users.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationTimesSaver</display-name>
    <servlet-name>ReservationTimesSaver</servlet-name>
    <servlet-class>cs236369.hw5.ReservationTimesSaver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationTimesSaver</servlet-name>
    <url-pattern>/ReservationTimesSaver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>cs236369.hw5.users.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>cs236369.hw5.users.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordRecovery</display-name>
    <servlet-name>PasswordRecovery</servlet-name>
    <servlet-class>cs236369.hw5.users.PasswordRecovery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordRecovery</servlet-name>
    <url-pattern>/PasswordRecovery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>cs236369.hw5.users.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.webapp.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewInstrument</display-name>
    <servlet-name>AddNewInstrument</servlet-name>
    <servlet-class>cs236369.hw5.instrument.AddNewInstrument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewInstrument</servlet-name>
    <url-pattern>/AddNewInstrument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateUser</display-name>
    <servlet-name>AdminUpdateUser</servlet-name>
    <servlet-class>cs236369.hw5.users.AdminUpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateUser</servlet-name>
    <url-pattern>/AdminUpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParamErrorSetter</display-name>
    <servlet-name>ParamErrorSetter</servlet-name>
    <servlet-class>cs236369.hw5.ParamErrorSetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParamErrorSetter</servlet-name>
    <url-pattern>/ParamErrorSetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchLab</display-name>
    <servlet-name>SearchLab</servlet-name>
    <servlet-class>cs236369.wsClients.SearchLab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchLab</servlet-name>
    <url-pattern>/SearchLab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInstrument</display-name>
    <servlet-name>UpdateInstrument</servlet-name>
    <servlet-class>cs236369.hw5.instrument.UpdateInstrument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInstrument</servlet-name>
    <url-pattern>/UpdateInstrument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInstrument</display-name>
    <servlet-name>DeleteInstrument</servlet-name>
    <servlet-class>cs236369.hw5.instrument.DeleteInstrument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInstrument</servlet-name>
    <url-pattern>/DeleteInstrument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeReservation</display-name>
    <servlet-name>MakeReservation</servlet-name>
    <servlet-class>cs236369.hw5.MakeReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeReservation</servlet-name>
    <url-pattern>/MakeReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XMLReportGenerator</display-name>
    <servlet-name>XMLReportGenerator</servlet-name>
    <servlet-class>cs236369.hw5.reporter.XMLReportGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XMLReportGenerator</servlet-name>
    <url-pattern>/XMLReportGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReservedTimeSlot</display-name>
    <servlet-name>DeleteReservedTimeSlot</servlet-name>
    <servlet-class>cs236369.hw5.DeleteReservedTimeSlot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReservedTimeSlot</servlet-name>
    <url-pattern>/DeleteReservedTimeSlot</url-pattern>
  </servlet-mapping>
</web-app>