<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sborpoandsolegr7</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>db-server</param-name>
    <param-value>jdbc:mysql://localhost</param-value>
  </context-param>
  <context-param>
    <param-name>db-user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>db-password</param-name>
    <param-value>123456</param-value>
  </context-param>
  <context-param>
    <param-name>db-dbname</param-name>
    <param-value>labdb</param-value>
  </context-param>
  <listener>
    <listener-class>cs236369.hw5.ApplicationStarts</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>cs236369.hw5.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPages/notFound.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPages/internalError.html</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/errorPages/unauthorized.html</location>
  </error-page>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>viewReservations.jsp</web-resource-name>
      <url-pattern>/viewReservations.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>researcher</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.html</form-login-page>
      <form-error-page>/authenticationError.html</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>cs236369.hw5.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewUser</display-name>
    <servlet-name>AddNewUser</servlet-name>
    <servlet-class>cs236369.hw5.users.AddNewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewUser</servlet-name>
    <url-pattern>/AddNewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jcaptcha</servlet-name>
    <servlet-class>com.octo.captcha.module.servlet.image.SimpleImageCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jcaptcha</servlet-name>
    <url-pattern>/jcaptcha.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageGetter</display-name>
    <servlet-name>ImageGetter</servlet-name>
    <servlet-class>cs236369.hw5.ImageGetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageGetter</servlet-name>
    <url-pattern>/ImageGetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>cs236369.hw5.users.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationTimesSaver</display-name>
    <servlet-name>ReservationTimesSaver</servlet-name>
    <servlet-class>cs236369.hw5.ReservationTimesSaver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationTimesSaver</servlet-name>
    <url-pattern>/ReservationTimesSaver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>cs236369.hw5.users.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>cs236369.hw5.users.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordRecovery</display-name>
    <servlet-name>PasswordRecovery</servlet-name>
    <servlet-class>cs236369.hw5.users.PasswordRecovery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordRecovery</servlet-name>
    <url-pattern>/PasswordRecovery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>cs236369.hw5.users.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
</web-app>