/* horizontal menu bar */
ul.mbh {
	
	text-align:center;
	padding: 0;
	list-style: none;
	width: 100%;

}
ul.mbh li {
	float: left;
	padding: 0;
	margin: 0;
	z-index: 1;

}
ul.mbh ul li {
	float: none;
	position: relative;
	border-bottom: 1px solid #dff399; /* fixes gap problem in IE */
}
/* separator to mark end of menu group */
ul.mbh ul li.end {
	border-bottom: 1px dashed #84848a;
}
ul.mbh li ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	top: 0;
	left: 0;
	background: #dff399;
	z-index: 2;
}
ul.mbh ul ul {
	margin-left: .2em;
	position: absolute;
	top: 0; /* if using borders, -1px to align top borders */
	left: 9em;
}

ul.mbh li a:link,
ul.mbh li a:visited,
ul.mbh li a:hover,
ul.mbh li a:active {
	display: block;
	padding: .2em .5em;
	text-decoration: none;
	background: #dff399;
	color: #84848a;
}
ul.mbh li a:hover,
ul.mbh li a:active {
	background: #84848a;
	color: #FFF;
}
ul.mbh ul li a:link,
ul.mbh ul li a:visited,
ul.mbh ul li a:hover,
ul.mbh ul li a:active {
	width: 8em;
}

ul.mbh ul li a.hidden:link,
ul.mbh ul li a.hidden:visited {
	background: #dff399 url(/sborpoandsolegr7/images/navArrow.gif) 100% -12px no-repeat;
}
ul.mbh li a.visible:link,
ul.mbh li a.visible:visited,
ul.mbh li a.visible:hover,
ul.mbh li a.visible:active {
	background: #84848a;
	color: #FFF;
}
ul.mbh ul li a.visible:link,
ul.mbh ul li a.visible:visited,
ul.mbh ul li a.visible:hover,
ul.mbh ul li a.visible:active {
	background: #84848a url(/sborpoandsolegr7/images/navArrow.gif) 100% -62px no-repeat;
}
