div.table{		width: 60%;
				margin-left: auto;
				margin-right: auto;
				border: 1px solid #666633;
			
				margin-top: auto;
				margin-bottom: auto;}
#content{
		font-size: 1.3em;
	 	padding-left: 1em;
		padding-top: 1em;
		padding-bottom: 1em;
		
	}

#button-text
{
	text-align: cetner;
	}	
	
#heading-text
{
	padding-left:1em;
	font-stretch: wider;
	font-style: italic;
	font-weight: bold;
	text-align: cetner;
	}	
	
#textDesc
{
	width:90%;
	margin-left: auto;
	margin-right: auto;
	}
#textarea
{
	width:90%;
	margin-left: auto;
	margin-right: auto;
	border: 1px dotted;
	border-color: navy;
	background: transparent;
	font-size: 0.75em;
	clear: both;
	font-family: cursive;
	}
#heading{
			padding-top:2px;
			font-size: 1.3em;
			clear:both;
			border-bottom: 1px solid #666633;
			text-align: cetner;
			width: 100%;
	
	}	
#details{
			width: 100%; 
}

div.options{ 
			font-size: 1.2em;
			
			clear:both;
			border-top: 1px solid #666633;
			width: 100%;
			text-align: center;
			}			
			
strong.viewuser{ font-weight: bold;}