table
{
border-collapse:collapse;
width:70%;
margin-left: auto;
margin-right: auto;
}
th
{
background-color: #727476;
color: white;
font-size: 1.7em;
height: 2.2em;
text-align: center;
font-weight: bold;
font-family: sans-serif;
padding-top: auto;
padding-bottom: auto;

}
td
{
font-size: 1.3em;
padding-left: 0.7em;

}

tr.alt td{
background-color:#EAF2D3;
}
table, td,th
{
border: 1px solid black;
}